* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --header-bg-color : hsl(356, 100%, 66%);
    --hover-bg-color: hsl(355, 100%, 74%);
    --headings-color: hsl(208, 49%, 24%);
    --white-text-color: hsl(0, 0%, 100%);
    --grey-text-color: hsl(240, 2%, 79%);
    --body-text-color: hsl(207, 13%, 34%);
    --footer-bg-color: hsl(240, 10%, 16%);
    /*Gradients*/
    /*Header*/
    --gradient-color-red1: hsl(13, 100%, 72%);
    --gradient-color-red2: hsl(353, 100%, 62%);
    /*Body*/
    --gradient-color-blue1: hsl(237, 17%, 21%);
    --gradient-color-blue2: hsl(237, 23%, 32%);
    /*Sizes*/
    --body-size: 16px;
}

.mobileMenu {
    position: relative;    
    height: 3.25rem;
    width: 4rem;
    cursor: pointer;
    transition: transform 0.25s;
}

.mobileMenu::before,
.mobileMenu::after {
    content: "";
    display: block;
}

.mobileMenu::before,
.mobileMenu::after,
.line {
    position: absolute;
    background: black;
    width: 100%;
    height: 8px;
}

.mobileMenu::after {
    top: 0;
}

.line {
    top: 50%;
    transform: translateY(-50%);
}

.mobileMenu::before {
    bottom: 0;
}

.mobileMenu.active {
    transform: rotate(180deg);
}

.mobileMenu.active .line {
    display: none;
}

.mobileMenu.active::before {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
}

.mobileMenu.active::after {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.menu {
    display: none;
}

.menu.active {
    display: block;
}

.attribution {
    font-size: 11px; text-align: center;
    color: hsl(228, 45%, 44%);
}